<div class="container">
  <button class="retour btn" routerLink="/sujet">Retour</button>
  <br>
  <div *ngIf="!loading">
    <ul style="--length: 5" content="">
      <li style="--i: 1" ><div class="boutons">
        <ng-container *ngIf="currentUser=='ROLE_TECHNOBEL'">
          <ng-container *ngIf="!sujet.hidden">
            <ng-container *ngIf="sujet.enable; else elseBlock">
              <button class="btn cloture" (click)="cloture()" >Cloturer</button><br>
            </ng-container>
            <ng-template #elseBlock>
              <button class="btn cloture" (click)="cloture()" >Décloturer</button><br>
            </ng-template>

          </ng-container>
          <ng-container *ngIf="!sujet.enable">
            <ng-container *ngIf="!sujet.hidden; else elseBlock">
              <button  class="btn cacher" (click)="cacher()">Invisible</button><br>
            </ng-container>
            <ng-template #elseBlock>
              <button  class="btn cacher" (click)="cacher()">Visible</button><br>
            </ng-template>


          </ng-container>
        </ng-container>
      </div>
        <div class="date" >
          {{sujet.dateCreation|date:'dd/MM/yyyy'}}<br>
        </div>

        <h3> {{sujet.titre}}</h3>
        <div> par {{sujet.madeBy.firstName}} {{sujet.madeBy.lastName}}</div>
        <br>
        <div>
          <ng-container *ngIf="!sujet.enable">
            Sujet clos
          </ng-container>
          <ng-container *ngIf="sujet.hidden">
            et caché
          </ng-container>
        </div>
        <div>
          {{sujet.description}}<br>
        </div>
        <ng-container *ngIf="sujet.enable" else elseBlock>
          <button class="argumenter btn" [routerLink]="'/sujet/'+sujet.id+'/argument/new'">Donner son avis</button>
        </ng-container>
        <ng-template #elseBlock>
          <button disabled class="argumenter btn" [routerLink]="'/sujet/'+sujet.id+'/argument/new'">Donner son avis</button>
        </ng-template>



      </li>
    </ul>
    <ul style="--length: 5" content="" *ngFor="let argument of sujet.argumentations | paginate: { itemsPerPage: 5, currentPage: page,totalItems:count }">
      <div *ngIf="argument.avis" >
        <li style="--i: 3" class="enfant">



          <div class="date" >
            {{argument.dateCreation|date: 'dd/MM/yyyy'}}<br>
          </div>
          <div><h4>Pour</h4></div>

          <div>
            par {{argument.madeBy.firstName}} {{argument.madeBy.lastName}}
          </div>
          {{argument.argument}}<br>
        </li>
      </div>
      <div *ngIf="!argument.avis">
        <li style="--i: 2" class="enfant">

        <div class="date" >
          {{argument.dateCreation|date: 'dd/MM/yyyy'}}<br>
        </div>
        <div><h4>Contre</h4></div>

        <div>
          par {{argument.madeBy.firstName}} {{argument.madeBy.lastName}}
        </div>
        {{argument.argument}}<br>
      </li>
      </div>
    </ul>
    <pagination-controls previousLabel="Prev"
                         nextLabel="Next"
                         (pageChange)="onTableDataChange($event)">

    </pagination-controls>
  </div>

</div>
