<div class="container">
  <button class="retour btn" routerLink="/sujet">Retour</button>
  <br>
  <div *ngIf="!loading">
    <ul style="--length: 5" content="">
      <li style="--i: 1" >
        <div class="date" >
          {{sujet.dateCreation|date:'dd/MM/yyyy'}}<br>

        </div>
        <h3> {{sujet.id}} {{sujet.titre}}</h3>
        <div> par {{sujet.madeBy.firstName}}</div>
        <br>
        <div>
          {{sujet.description}}<br>
        </div>
        <button class="argumenter btn" [routerLink]="'/sujet/'+sujet.id+'/argument/new'">Donner son avis</button>

      </li>
    </ul>
    <ul style="--length: 5" content="" *ngFor="let argument of sujet.argumentations">
      <div *ngIf="argument.avis" >
        <li style="--i: 3" class="enfant">



          <div class="date" >
            {{argument.dateCreation|date: 'dd/MM/yyyy'}}<br>
          </div>
          <div><h4>Pour</h4></div>

          <div>
            par {{argument.madeBy.firstName}}
          </div>
          {{argument.argument}}<br>
        </li>
      </div>
      <div *ngIf="!argument.avis">
        <li style="--i: 2" class="enfant">

        <div class="date" >
          {{argument.dateCreation|date: 'dd/MM/yyyy'}}<br>
        </div>
        <div><h4>Contre</h4></div>

        <div>
          par {{argument.madeBy.firstName}}
        </div>
        {{argument.argument}}<br>
      </li>
      </div>
    </ul>
  </div>

</div>
