
<h1>Liste des sujets</h1>
<button class="create" routerLink="new">Créer sujet</button>
<ul style="--length: 5" content="">
  <li style="--i: 1" *ngFor="let sujet of sujetList" >

    <button class="détail" [routerLink]="[sujet.id]">Détail</button>
    <div class="date" >
      {{sujet.dateCreation | date:"dd/MM/yyyy"}}<br>


    </div>
    <h3><a [routerLink]="[sujet.id]">{{sujet.id}} {{sujet.titre}}</a></h3>
   <div> par {{sujet.madeBy.firstName}}</div>
    <br>
    <div>
      {{sujet.description}}
    </div>


  </li>
</ul>







